################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/C++20/.vs/C++20/v16
/C++20/Debug
